---
// Layouts
import MainLayout from "../../layouts/MainLayout.astro";
// Components
import PostCard from "../../components/PostCard.astro";
// Utils
import { slugify, formatBlogPosts } from "../../ts/utils";
// Translations
import { translations } from "../../translations/blog.translations";
// Data
import { categoriesData } from "../../data/categories";

export async function getStaticPaths() {
  return categoriesData;
}

const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = await Astro.glob("../blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const catPosts = formattedPosts.filter(
  (post) => slugify(post.frontmatter.category) === category
);
---

<MainLayout title={name}>
  <section class="container" aria-label={`Posts about ${name}`}>
    <h1 class="h1">{translations.CATEGORY.TITLE} <span>{name}</span></h1>
    <div class="post-container">
      {
        catPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
