---
// Components
import Link from "./Link.astro";
// Enums
import { StyleEnum } from "../enums/styles.enum";
// Data
import navData from "../data/navData";
// Translations
import { translations } from "../translations/blog.translations";
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" class="nav-name" aria-label="Go home">
      <h2 class="h3">{translations.NAVBAR.TITLE}</h2>
    </a>
    <ul>
      {
        navData.map((item) => (
          <Link
            text={item.name}
            href={item.path}
            style={StyleEnum.PRIMARY}
            isFilled={false}
            data-navLink
          />
        ))
      }
    </ul>
  </div>
</nav>

<script>
  import "../ts/nav.ts";
</script>

<style>
  .nav-name {
    text-decoration: none;
  }
</style>
