---
// Components
import Link from "./Link.astro";
// Translations
import { translations } from "../translations/blog.translations";
// Utils
import { slugify, formatDate } from "../ts/utils";
import { StyleEnum } from "../enums/styles.enum";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, author, image, date, category, description } = frontmatter;
---

<article class="card">
  <small
    ><a href={`/category/${slugify(category)}`} class="badge">{category}</a
    ></small
  >
  <a href={url} aria-hidden="true" tabindex="-1"
    ><img src={image.src} alt={image.alt} width="400" height="250" /></a
  >
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={url}>{title}</a>
      </Tag>
      <small>
        <a href={`/author/${slugify(author)}/`}>{author}</a> · {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>
    <Link
      href={url}
      text={translations.POST_CARD.LINK}
      style={StyleEnum.SECONDARY}
    />
  </div>
</article>

<style>
  p {
    font-size: var(--fs-smx);
  }
</style>
