---
// Components
import Link from "./Link.astro";
// Enums
import { StyleEnum } from "../enums/styles.enum";

interface Props {
  title: string;
  imageUrl: string;
  description: string;
  buttonHref: string;
  buttonText: string;
  buttonStyle: StyleEnum;
}

const { title, imageUrl, description, buttonHref, buttonText, buttonStyle } =
  Astro.props;
---

<span class="container about" aria-label="Presentation">
  <img
    class="img-container"
    src={imageUrl}
    alt={title}
    height="330"
    width="200"
  />

  <div class="content">
    <h1 class="h1">{title}</h1>
    <p>
      {description}
    </p>
    <Link href={buttonHref} style={buttonStyle} text={buttonText} />
  </div>
</span>

<style>
  .container {
    @media (max-width: 480px) {
      img {
        justify-self: center;
      }
    }
  }
</style>
