---
// Layouts
import MainLayout from "./MainLayout.astro";
// Components
import BlogPostLayoutHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
// Utils
import { formatBlogPosts } from "../ts/utils";
// Translations
import { translations } from "../translations/blog.translations";

const { frontmatter } = Astro.props;
const { title, description, category } = frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});
const relatedPosts = formattedPosts
  .filter(
    (post) =>
      post.frontmatter.category.toLowerCase() === category.toLowerCase() &&
      post.frontmatter.title !== title
  )
  .slice(0, 3);
---

<MainLayout {title} {description}>
  <BlogPostLayoutHeader {...frontmatter} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <h2 class="h3">{translations.BLOG_POST_LAYOUT.TITLE}</h2>
        <CategoryCloud />
      </aside>
      {
        relatedPosts.length > 0 && (
          <aside class="container" aria-label="Related posts">
            <h2 class="h3">{translations.HORIZONATAL_POSTS.RELATED_POSTS}</h2>
            <RelatedPosts {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>
</MainLayout>
